<div class="cording-image d-flex">
  <div class="top logo_name_space">
  <%= image_tag 'logo_name.png', size: "200x150" %>
  </div>
  <div class="top title_space col-6">
    <div class="top title_content">
      現役エンジニアが自身のポートフォリオ(PF)を投稿するサイト。</br>
      企業も登録可能で当サイトのPF内容からマッチング採用に活用する。</br>
      また、コメント機能を通してエンジニア同士での交流もすることができ</br>
      人脈形成の場としても活用することができる。
    </div>
  </div>
</div>

