<div class="container">
  <div class="row my-3">
    <h2>いいねしたPF一覧</h2>
    <div class="col-sm-12 d-flex">
      <table class="table">
        <thead>
          <th class="text-center">PF名</th>
          <th class="text-center">使用言語</th>
          <th class="text-center">ジャンル</th>
          <th class="text-center">サイトURL</th>
        </thead>
        <tbody>
        <% @favorites.each do |favorite| %>
          <% portfolio = Portfolio.find_by(id: favorite.portfolio_id) %>

          <tr>
            <td class="text-center"><%= link_to portfolio.name, portfolio_path(portfolio) %></td>
            <td class="text-center"><%= portfolio.use_language %></td>
            <td class="text-center"><%= portfolio.genre.name %></td>
            <td class="text-center"><%= link_to portfolio.site_url, "#{portfolio.site_url}" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
